# Ignore all directories
*/

# Re-include content folder
!content/
!InternVideo/


# Re-include everything inside content
!content/**
!InternVideo/**

# Ignore common Python artifacts
*.pyc
__pycache__/
.ipynb_checkpoints/